@font-face {
    font-family: roboto;
    src: url(../assets/fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: helvetica;
    src: url(../assets/fonts/coolveticarg.otf);
}
@font-face {
    font-family: RachelBrown;
    src: url(../assets/fonts/RachelBrown.ttf);
}
@font-face {
    font-family: universal;
    src: url(../assets/fonts/Universal\ Serif.ttf);
}