#body-partidos {
    width: 100%;
    background: $gradiente-fondo;
}
#main-partidos{
    padding: 0;

}
#caption{
    color: $color-usos;
    font-size: 30px;
    font-family: $letra-subtitulos;
    font-weight: bold;
}
#titulos-tabla{
    font-size: 20px;
    font-family: $letra-subtitulos;
    
}
#tablas-partidos{
    font-size: 16px;
}
#fotos-tablas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.bordes-fotos{
    border: 3px solid $color-usos;
    margin-top: 45px;
    box-shadow: 0px 0px 34px 6px rgba(39,68,214,1);
}