.fotos-tienda{
    border: $bordes-celestes;
    box-shadow: $sombra-celeste;
    margin-top: 20px;
}
.cuestionario{
    div{    
        padding: 5px;
        margin-right: 10px;
        div{

        }
    }

}